@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Roboto", ui-sans-serif, system-ui, sans-serif;
  --font-serif: "Poppins", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-zinc-50 text-zinc-900 font-sans antialiased;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-serif tracking-tight;
  }
}
